@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplusrounded1c/v10/VdGBAYIAV6gnpUpoWwNkYvrugw9RuM064ZsK.ttf) format('truetype');
}
/*************************** Сброс стилей *****************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
body {
  line-height: 1;
  background-color: #222;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: black;
}
body {
  background: linear-gradient(90deg, #253453 0%, #395383 100%);
}
.wrapper {
  max-width: 1200px;
  margin: 30px auto 100px auto;
  display: flex;
  flex-direction: column;
}
.header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header > img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 16px;
}
.header--item {
  align-self: center;
}
h1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: none;
  color: #fff;
}
h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 36px;
  font-style: none;
  color: #fff;
}
h3 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: none;
  color: #fff;
}
h4 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: none;
  color: #fff;
}
.headline {
  background-color: #337882;
  padding: 9px 0 8px 0;
  border-radius: 16px;
  margin: 30px 0 10px 0;
  text-align: center;
}
.content {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.content--item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  margin: 10px;
  border-radius: 26px;
}
.content--item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.content--item > a > img {
  border-radius: 16px;
  max-width: 300px;
  max-height: 300px;
}
.content--item > a > h4 {
  margin: 12px 10px 5px 10px;
  text-align: center;
}
.contact {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact--item {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  width: 120px;
  height: 120px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact--item > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.contact--item > a > img {
  max-width: 48px;
  max-height: 48px;
  padding: 10px;
  align-self: center;
}
.contact--item > a > h4 {
  margin-top: 5px;
  align-self: center;
}
.copyright {
  margin-top: 100px;
}
.copyright > span {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 12px;
  font-style: none;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */