@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

body
{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;

    background: rgb(35,50,80);
    background: linear-gradient(90deg, rgb(37, 52, 83) 0%, rgb(57, 83, 131) 100%);
}

.main-icon
{
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 16px;
}

header
{
    height: 300px;  
}

.content
{
    height: auto;   
}

.contact
{
    width: 100%;
    display:block;
    position: relative;
    margin:0 auto;
    border-radius: 16px;
    margin-top: 10px;
    background-color: #3B5998;
    border: 0px;
    transition: 0.2s;
    color: white;
}

.contact:hover
{
    background-color: #314c88;
    color: rgb(223, 223, 223);
}

.preview
{
    width: 100%;
    height: 300px;
    border-radius: 16px;
    background-color: #3B5998;
    color: white;
    transition: 0.2s;
    margin:0 auto 30px;
}

@media (max-width: 574px)
{
    .preview
    {
        width: 70%;
        display:block;
        position: relative;
    }
    .contact
    {
        width: 70%;
    }
}

.preview img
{
    opacity: .9;
    margin-top: 10px;
    height: 85%;
    width: 90%;
}

.preview:hover
{
    color: rgb(223, 223, 223);
    background-color: #314c88;
    opacity: .8;
}

.contacts_title
{
    margin:auto;
    color: white;
    width: 164px;
    border-radius: 8px;
    font-size: 32px;
    margin-top: 20px;
}

.title
{ 
    margin: auto;
    width: 230px;
    border-radius: 8px;
}

.subtitle
{
    width: 270px;
    border-radius: 8px;
    margin: auto;
    margin-top: 10px;
}